body{
    background-color: #161616;
    margin: 0px;
}

.dark-mode{
    background-color: #D9D9D9;
    color: red;
}

.navbardiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftnav{
    flex: 1;
}

.leftnavtext{
    font-size: 30px;
    color: aliceblue;
    margin: 40px 0px 0px 200px;
}

.rightnav{
    flex: 1;
}

.navmenubutton{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 17px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 50px 0px 0px 0px;
}

.navlink{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

.herosec{
    display: flex;
    flex-direction: row;
}

.heroimg{
    filter: grayscale(100%);
    margin: 70px 0px 0px 100px;
    width: 420px;
}

.righthero{
    margin: 70px 0px 0px 100px;
}

.herotxt{
    color: #D1D1D1;
    font-size: 65px;
    font-family: "kanit";
    font-weight: 400;
    line-height: 60px;
    margin-right: 70px;
}

.getbtn{
    color: aliceblue;
    background-color: #161616;
    border-style: solid;
    border-color: aliceblue;
    padding: 15px 28px 15px 28px;
    border-width: 1px;
    font-size: 15px;
    cursor: pointer;
}

.designline1{
    height: 18px;
    width: 213px;
    background-color: #D9D9D9;
    margin: 90px 0px 0px 590px;
}

.section1dsn{
    color: #191919;
    font-size: 22.885vw;
    font-family: "kanit";
    position: relative;
    margin: 0px;
    padding: 0px;
}

.section1div{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: -210px;
}

.leftsection1{
    flex: 1;
    color: #D1D1D1;
    font-weight: 450;
    font-size: 40px;
    font-family: "kanit";
    margin: -30px 0px 0px 100px;
    padding: 0px;
}

.rightsection1{
    flex: 1.5;
    color: #D1D1D1;
    font-size: 20px;
    font-family: "kanit";
    margin: 0px 100px 0px 0px;
    text-align: justify;
}

.designline2{
    height: 18px;
    width: 213px;
    background-color: #D9D9D9;
    margin: 300px 0px 0px -100px;
}

.section2{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
}

.section2left{
    flex: 1;
    height: 700px;
    width: 100px;
}

.section2txt{
    font-family: "kanit";
    font-weight: 600;
    color: #949494;
    font-size: 130px;
    letter-spacing: 10px;
    transform: rotateZ(270deg);
    margin: 700px 0px 0px -20px;
    padding: 0px;
    white-space: nowrap;
}

.projecttbl{
    flex: 4; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 50px;
    z-index: 10;
    margin: 0px 0px 0px 0px;
}

.projectbg{
    height: 510px;
    width: 470px;    
    border: solid 1px aliceblue;
    margin: -50px 70px 0px 0px;
    position: relative;
}

.projectbg1{
    height: 510px;
    width: 470px;    
    border: solid 1px aliceblue;
    margin: 70px 70px 0px 0px;
    position: relative;
}

.projimg{
    width: 450px;
    height: 250px;
    padding: 10px;
}

.projdsn{
    height: 3px;
    width: 35px;
    margin: 10px 0px 0px 22px;
    background-color: #D1D1D1;
}

.projdate{
    font-size: 15px;
    font-family: "Kanit";
    font-weight: bold;
    margin: 5px 0px 0px 22px;
    color: #D1D1D1;
}

.projtitle{
    font-family: "kanit";
    font-size: 30px;
    font-weight: 400;
    margin: 5px 20px 0px 20px;
    color: #A9A9A9;
}

.projbtn{
    color: aliceblue;
    background-color: #161616;
    border-style: solid;
    border-color: aliceblue;
    margin: 20px 0px 0px 20px;
    padding: 13px 20px 15px 20px;
    border-width: 1px;
    font-size: 15px;
    cursor: pointer;
}

.projexpbtn{
    color: aliceblue;
    background-color: #161616;
    border-style: solid;
    border-color: aliceblue;
    margin: 100px 0px 0px 49vw;
    padding: 13px 20px 15px 20px;
    border-width: 1px;
    font-size: 15px;
    cursor: pointer;
}

.section3{
    margin-top: 90px;
}

.designline3{
    height: 18px;
    width: 213px;
    background-color: #D9D9D9;
    margin-left: 84.2vw;
}

.section3title{
    color: #D1D1D1;
    font-size: 60px;
    font-family: "kanit";
    font-weight: 600;
    margin: 100px 0px 100px 100px;
}

.secion3cont{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    position: relative;
}

.section3skill{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* background-color: yellowgreen; */
}

.section3exp{
    flex: 1;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

.skltmlline{
    background-color: aliceblue;
    width: 1px;
    height: 700px;
    margin: 0px 0px 0px 150px;
    position: relative;
}

.skltmldot{
    background-color: aliceblue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 20px 0px 0px 140px;
}

.skltmldot1{
    background-color: aliceblue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 380px 0px 0px 140px;
}

.sectionproglang{
    margin: 12px 0px 0px 40px;
    font-size: 25px;
    font-family: "kanit";
    color: aliceblue;
}

.sectionframework{
    margin: 320px 0px 0px 40px;
    font-size: 25px;
    font-family: "kanit";
    color: aliceblue;
}

.exptmlline{
    background-color: aliceblue;
    width: 1px;
    height: 700px;
    margin: 0px 0px 0px 70px;
    position: relative;
}

.exptmldot{
    background-color: aliceblue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 20px 0px 0px 60px;
}

.section3dsn1{
    color: #191919;
    font-size: 20vw;
    font-family: "kanit";
    position: relative;
    margin: -750px 0px 0px 0px;
    padding: 0px;
    z-index: -1;
}

.section3dsn2{
    color: #191919;
    font-size: 20vw;
    font-family: "kanit";
    position: relative;
    margin: -100px 0px 0px 0px;
    padding: 0px;
    z-index: -1;
}

.section4{
    margin: 100px 0px 0px 150px;
}

.section4txt{
    color: #D1D1D1;
    font-size: 22px;
    font-family: "kanit";
    font-weight: 500;
}

.section4dsnline{
    height: 1px;
    width: calc(100vw - 215px);
    background-color: aliceblue;
    margin: 50px 0px 20px 100px;
}

.footer{
    display: flex;
    flex-direction: row;
    margin: 0px 150px 70px 150px;
    justify-content: space-between;
}

.footerleft{
    color: aliceblue;
    font-size: 18px;
    font-family: "kanit";
}

.footerright{
    font-size: 18px;
    font-family: "kanit"; 
}

.footerbutton{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    line-height: 40px;
    text-align: right;
}

.footlink{
    text-decoration: none;
    color: #D1D1D1;
    cursor: pointer;
}